@using HealthyRecipes.Web.ViewModels.Recipes
@model RecipesListViewModel
@{
    this.ViewData["Name"] = "All Recipes";
}

<h1>@this.ViewData["Name"]</h1>

<hr />

<div class="row">
    @foreach (var recipe in this.Model.Recipes)
    {
        <div class="media col-md-4">
            <img src="@recipe.ImageUrl" class="mr-3" width="100">
            <div class="media-body">
                <h5 class="mt-0"><a asp-action="ById" asp-route-id="@recipe.Id">@recipe.Name</a></h5>
                @recipe.CategoryName
            </div>
        </div>
    }

</div>

<hr />
<partial name="_PagingPartial" model="@Model"/>
